<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="text-2xl font-base text-slate-800">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
