---
layout: default
---

<%= render "hero" %>
<%= render "introduction" %>

<%= render "quote", text:"I'm quite strict about the code I write, but I've never been able to explain why this matters. BaseCode has helped me answer that question and given me even more practices to apply everyday!", link:"https://twitter.com/svenluijten", img:"https://basecodefieldguide.com/img/twitter-avatar-svenluijten.jpg", name:"Sven Juijten" %>

<%= render "chapters" %> 
<div class="-mt-48">
  <%= render "quote", text:"I loved your Git course, you know how to simplify things and go the minimal way. In the coding world that means clean and lasting code. BaseCode is an absolute buy for me.", link:"https://twitter.com/abadir_", img:"https://basecodefieldguide.com/img/twitter-avatar-abadir.jpg", name:"Mina Abadir" %>
</div>
<%= render "content_light_kit" %>
<%= render "content_mid_kit" %>
<%= render "content_full_kit" %>
<%= render "pricing" %>
<%= render "faq" %>
<%= render "author" %>


