<section class="mb-20">

  <div class="max-w-5xl p-10 bg-stone-100 mx-auto leading-relaxed">
    <h2 class="text-4xl md:text-5xl mb-10 font-bold font-header">
      Who is JMac?<span class="animate-ping">_</span>
    </h2>

    <div class="flex gap-10">
      <img src="https://basecodefieldguide.com/img/jason-mccreary-bio.jpg" />
      <div class="space-y-5">
        <p>Hi. I'm Jason McCreary. I go by JMac because I always seem to work with other programmers named Jason.</p>
        <p>I love building things and sharing my knowledge. I created Laravel Shift, recorded Confident Laravel and Getting Git, wrote BaseLaravel, and speak at conferences.
        </p>
      </div>
    </div>
  </div>
</section>
