<section class="bg-stone-200 py-10 md:py-20">
  
  <div class="max-w-5xl mx-auto px-5 leading-relaxed">

    <div class="mb-10 py-5 w-full">
      <h2 class="font-header font-bold max-w-2xl leading-tight text-4xl md:text-5xl">
        <span class="text-stone-500">In</span> Mid Kit<span class="animate-ping">_</span>
      </h2>
      <p class="font-bold font-header text-stone-500">Everything from Lite Kit Plus</p>
    </div>

    <div class="flex flex-col gap-10">
      <div class="">
        <h3 class="capitalize font-bold font-header">Audio version</h3>
        <p>An audio version of BaseCode. This may seem strange given the code samples. However, the audio version isn't a one-to-one reading. Instead, it allows me to deliver the practices with more depth and you to listen on the go.</p>
      </div>
      <div class="">
        <h3 class="capitalize font-bold font-header">Group Q&A calls</h3>
        <p>Access to group calls. These are recordings of live-streams where other readers asked me questions about the BaseCode practices.</p>
      </div>
    </div>

  </div>
</section>
