<section class="bg-stone-300 py-10 md:py-20">
  
  <div class="max-w-5xl mx-auto px-5 leading-relaxed">

    <div class="mb-10 py-5 w-full">
      <h2 class="font-header font-bold max-w-2xl leading-tight text-4xl md:text-5xl">
        <span class="text-stone-500">In</span> Full Kit<span class="animate-ping">_</span>
      </h2>
      <p class="font-bold font-header text-stone-500">Everything from Lite Kit & Mid Kit Plus</p>
    </div>

    <div class="flex flex-col gap-10">
      <div class="">
        <h3 class="capitalize font-bold font-header">Bonus Videos</h3>
        <p class="">The Full Kit includes videos demonstrating the practices applied to even more real-world code samples. They will give you a better sense of how all the practices work together.</p>
      </div>
    </div>

  </div>
</section>
