<section class="mb-10 py-10 md:pt-20">

  <div class="max-w-5xl mx-auto px-5 leading-relaxed">
    <h2 class="text-4xl md:text-5xl mb-10 font-bold font-header">
      Frequently Asked Questions<span class="animate-ping">_</span>
    </h2>

    <div class="space-y-10">
      <div>
        <h3 class="font-bold font-header">Can I pay with PayPal?</h3>
        <p>Sure. Just send payment to orders@pureconcepts.net and I'll get your account set up.</p>
      </div>
      <div>
        <h3 class="font-bold font-header">Can I get a discount if I purchase multiple kits for my team?</h3>
        <p>If you plan to purchase more than 5 kits, email me with your team details and we'll create a package deal.</p>
      </div>
      <div>
        <h3 class="font-bold font-header">What if I have another question?</h3>
        <p>No problem. Just email me. Unless I'm sleeping, you'll get a pretty snappy reply.</p>
      </div>
    </div>
  </div>

</section>
