<section class="mb-20">
  <div class="max-w-5xl mx-auto px-5 leading-relaxed">
	<h2 class="font-header font-bold max-w-2xl leading-tight mb-10 text-4xl md:text-5xl">
	  <span class="text-stone-500">I've been</span> writing code for 20 years<span class="animate-ping">_</span>
	</h2>

	<div class="space-y-5">
	  <p> During that time I've worked on hundreds of projects with dozens of teams. I found the most important quality of lasting code is readability.</p>
	  <p>When I first started writing code I just wrote code that worked. Who cares as long as it works? Years later, I went to great lengths to ensure my code adhered to all the best practices.</p>
	  <p>We know our code is <strong>too complex</strong>. This is easy to realize, but hard to avoid. We're too quick to dismiss qualities like readability and accept complexity as necessary...</p>
	  <p>We need to get back to the basics of <strong>writing code for other humans</strong>. this is the goal of basecode.</p>
	</div>
  </div>
</section>

